* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

html {
  scroll-padding-top: 80px; 
}

body {
    background-color: #f9f9f9;
    color: #333;
}

main {
    padding-top: 80px;
	padding-bottom: 60px;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
	z-index: 999;
}

body {
  padding-top: 100px; 
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
	color:#1a237e;
}

nav a.active {
    border-bottom: 2px solid white;
    color: #ffeb3b;
}

section {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
	min-height: 60vh;
}

.projects a {
    display: inline-block;
	margin:10px;
	margin-left:0;
    padding: 10px;
    background: #e0e0e0;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

.projects a:hover {
  background-color: #357ABD;
  color: white;
  transition: 0.3s ease;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4a90e2;
  color: white;
  text-align: center;
  padding: 15px 20px;
  z-index: 1000;
}

